absl-py==1.4.0
accelerate==0.16.0
aiohttp==3.8.4
aiosignal==1.3.1
ansicon==1.89.0
anyio==3.6.2
arrow==1.2.3
async-timeout==4.0.2
asyncio==3.4.3
attrs==22.2.0
beartype==0.12.0
beautifulsoup4==4.11.2
blessed==1.20.0
block-recurrent-transformer-pytorch==0.0.18
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
cffi==1.15.1
charset-normalizer==3.0.1
click==8.1.3
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1674202310934/work
colorama==0.4.6
contourpy==1.0.7
croniter==1.3.8
cycler==0.11.0
Cython==0.29.33
dateutils==0.6.12
deepdiff==6.2.3
Deprecated==1.2.13
dnspython==2.3.0
einops==0.6.0
email-validator==1.3.1
fastapi==0.88.0
fasteners==0.18
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2023.1.0
glfw==2.5.6
gymnasium==0.27.1
gymnasium-notices @ file:///home/conda/feedstock_root/build_artifacts/gymnasium-notices_1670615777429/work
h11==0.14.0
httpcore==0.16.3
httptools==0.5.0
httpx==0.23.3
idna==3.4
imageio==2.26.0
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1672612343532/work
importlib-resources==5.12.0
inquirer==3.1.2
itsdangerous==2.1.2
jax-jumpy==0.2.0
Jinja2==3.1.2
jinxed==1.2.0
kiwisolver==1.4.4
lightning-cloud==0.5.30
lightning-utilities==0.7.1
lockfile==0.12.2
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.0
mdurl==0.1.2
MouseInfo==0.1.3
mujoco==2.3.2
multidict==6.0.4
nest-asyncio==1.5.6
numpy==1.24.2
opencv-python==4.7.0.68
ordered-set==4.1.0
orjson==3.8.6
packaging==23.0
Pillow==9.4.0
psutil==5.9.4
PyAutoGUI==0.9.53
pycparser==2.21
pydantic==1.10.5
pygame==2.1.3.dev8
PyGetWindow==0.0.9
Pygments==2.14.0
PyJWT==2.6.0
PyMsgBox==1.0.9
PyOpenGL==3.1.6
pyparsing==3.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
python-dateutil==2.8.2
python-dotenv==1.0.0
python-editor==1.0.4
python-multipart==0.0.5
pytweening==1.0.4
pytz==2022.7.1
PyYAML==6.0
readchar==4.0.3
requests==2.28.2
rfc3986==1.5.0
rich==13.3.1
six==1.16.0
sniffio==1.3.0
soupsieve==2.4
starlette==0.22.0
starsessions==1.3.0
swig==4.1.1
tdqm==0.0.1
torch==1.10.0+cu113
torchaudio==0.10.0+cu113
torchmetrics==0.11.1
torchvision==0.11.1+cu113
tqdm @ git+https://github.com/tqdm/tqdm.git@754186291e6b4e28ea8b56c9493adc03bf14c404
traitlets==5.9.0
typing_extensions==4.5.0
ujson==5.7.0
urllib3==1.26.14
uvicorn==0.20.0
watchfiles==0.18.1
wcwidth==0.2.6
websocket-client==1.5.1
websockets==10.4
wincertstore==0.2
wrapt==1.15.0
yarl==1.8.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
